@model FriendBook.ViewModels.HomePageViewModel

<div class="colorContainer">
    <div class="row">
        <h2>Home</h2>
        <div class="col-md-12">
            <form asp-action="NewStatus">
                <textarea asp-for="@Model.Post.Text" class="newStatus" placeholder="What's on your mind?"></textarea>
                <input type="submit" class="submitStatus" value="Submit" />
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @foreach (var s in Model.Posts)
            {
                <div class="post">
                    <div class="postUser">
                        <a asp-action="Profile" asp-controller="Profile" asp-route-id="@s.UserId"><span>@Html.DisplayFor(modelItem => s.User.FirstName) @Html.DisplayFor(modelItem => s.User.LastName)</span></a>:
                    </div>

                    <div class="postTextDiv">
                        <span class="postText">@Html.DisplayFor(modelItem => s.Text)</span>
                    </div>

                        @if (s.UserId == Model.CurrentUser.UserId)
                        {
                            <div class="deleteEditDiv">
                                <a asp-action="DeletePost" asp-controller="Post" asp-route-id="@s.PostId"><span>Delete</span></a>
                                <a><span id="@s.PostId" class="EditPost">Edit</span></a>
                            </div>
                        }

                    <div>
                        <a asp-action="AddLike" asp-controller="Post" asp-route-id="@s.PostId"><span>Likes: @Html.DisplayFor(modelItem => s.Likes)</span></a>
                        <a asp-action="AddDislike" asp-controller="Post" asp-route-id="@s.PostId"><span>Dislikes: @Html.DisplayFor(modelItem => s.Dislikes)</span></a>
                    </div>
                </div>
            }
        </div>
    </div>

    <hr />
    <footer>
        <p>&copy; 2016 - FriendBook</p>
    </footer>

</div>