@model FriendBook.ViewModels.HomePageViewModel

<div class="colorContainer">
    <div class="row">
        <i class="fa fa-users brandImg" aria-hidden="true"></i>
        <h2 class="brandName">FriendBook</h2>
        <div class="col-md-12">
            <form asp-action="NewStatus" enctype="multipart/form-data">

                <label for="addPToStatus" class="addPToStatusLabel">
                    <div class="addPhotoToStatusDiv">Add Photo</div>
                    <div class="photoSelectedArea"></div>
                </label>
                <input type="file" asp-for="@Model.PostImgUpload" name="PostImgUpload" id="addPToStatus" class="addPToStatus"/>

                <textarea asp-for="@Model.Post.Text" class="newStatus" placeholder="What's on your mind?"></textarea>
                <input type="submit" class="submitStatus btn-success" value="Submit" />
                <input type="button" class="clearStatus btn-danger" value="Clear" />

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 startPosts">
            @foreach (var s in Model.Posts)
            {
                <div class="post" id="@s.PostId">

                    <div class="postHeadDiv">
                        <div class="postProfileImg">
                           <img src="@s.User.ProfileImg" />
                        </div>

                        <div class="postUser">
                            <a asp-action="Profile" asp-controller="Profile" asp-route-id="@s.UserId"><span>@Html.DisplayFor(modelItem => s.User.FirstName) @Html.DisplayFor(modelItem => s.User.LastName)</span></a>
                        </div>

                        <div class="datePosted">
                            <span>@s.TimePosted</span>
                        </div>
                    </div>

                    @if (s.ImgUrl != null)
                    {
                        <div class="postImageDiv">
                            <img src="@s.ImgUrl"  class="postImage"/>
                        </div>
                    }

                    <div class="postTextDiv">
                        <span class="postText">@Html.DisplayFor(modelItem => s.Text)</span>
                    </div><hr />

                        @if (s.UserId == Model.CurrentUser.UserId)
                        {
                            <div class="deleteEditDiv">
                                <a class="deletePost" asp-action="DeletePost" asp-controller="Post" asp-route-id="@s.PostId"><span>Delete</span></a>
                                <a><span id="@s.PostId" class="EditPost">Edit</span></a>
                            </div>
                        }

                    <div class="LikeDislikeCommentDiv">
                        <a asp-action="AddLike" asp-controller="Post" asp-route-id="@s.PostId" class="addSpaceRight like"><i class="fa fa-thumbs-up statusIcon"></i>(@Html.DisplayFor(modelItem => s.Likes))</a>
                        <a asp-action="AddDislike" asp-controller="Post" asp-route-id="@s.PostId" class="addSpaceRight dislike"><i class="fa fa-thumbs-down statusIcon"></i>(@Html.DisplayFor(modelItem => s.Dislikes))</a>
                        <span class="comments addSpaceRight"><i class="fa fa-comments statusIcon CSI"></i>(@s.Comments.Count)</span>
                    </div><hr />

                    <div class="CommentArea hidden">
                        @if (s.Comments != null)
                        {
                            @foreach (var c in s.Comments)
                            {
                                <div class="comment" id="@c.CommentId">
                                    <img src="@c.User.ProfileImg" />
                                    <a asp-action="Profile" asp-controller="Profile" asp-route-id="@c.UserId"><span>@c.User.FirstName @c.User.LastName</span></a>

                                    <p>@c.Text</p>
                                    @if (c.UserId == Model.CurrentUser.UserId)
                                    {
                                        <div class="EditOrDeleteComment">
                                            <a class="DeleteComment">Delete</a>
                                            <a class="EditComment">Edit</a>
                                        </div>
                                    }
                                </div><hr />
                            }
                        }
                    </div>

                    <textarea class="AddNewComment" placeholder="Add Comment..."></textarea>
                    <input type="button" class="btn-success submitComment" value="Comment" />

                </div>
            }
        </div>
    </div>

    <hr />
    <footer>
        <p>&copy; 2016 - FriendBook</p>
    </footer>
</div>