@model FriendBook.ViewModels.HomePageViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Home</h2>
        <form asp-action="NewStatus">
            <textarea asp-for="@Model.Post.Text" class="newStatus" style="width: 50%; height: 120px; max-width: 50%; max-height: 120px;"></textarea>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var s in Model.Posts)
        {
            <p>
                <span>@Html.DisplayFor(modelItem => s.User.FirstName) @Html.DisplayFor(modelItem => s.User.LastName): </span>
                <span>@Html.DisplayFor(modelItem => s.Text)</span>

                @if (s.Likes == null)
                {
                    <span>Likes: 0</span>
                }
                else
                {
                    <span>Likes: @Html.DisplayFor(modelItem => s.Likes)</span>
                }
            </p>
        }
    </div>
</div>
