@model FriendBook.ViewModels.ConversationMessagesViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">
    <div class="ConvoHead">
        <div class="ConvoHeadInfo">
            <div class="convoReciever">
                <img src="@Model.CurrentConversation.ConversationReciever.ProfileImg" class="convoMessImg" />
                <h4 class="convoMessName">@Model.CurrentConversation.ConversationReciever.FirstName @Model.CurrentConversation.ConversationReciever.LastName</h4>
            </div>
            <div class="convoStarter">
                <img src="@Model.CurrentConversation.ConversationStarter.ProfileImg" class="convoMessImg" />
                <h4 class="convoMessName">@Model.CurrentConversation.ConversationStarter.FirstName @Model.CurrentConversation.ConversationStarter.LastName</h4>
            </div>
        </div>

        <div class="NewConversationMessageContainer">
            <textarea id="@Model.CurrentConversation.ConversationRoomName" class="NewConversationMessageText" placeholder="Enter your message and press enter to submit..."></textarea>
        </div>
    </div>

    <hr />

    <div class="ConvoMessageList" id="@Model.CurrentConversation.ConversationRoomName">
        @foreach (var message in Model.Messages)
        {
            <div class="messagesInConvo colorHighlight">
                <img class="convoPersonImg" src="@message.SendingUser.ProfileImg" />
                <h3 class="convoPersonName">@message.SendingUser.FirstName @message.SendingUser.LastName</h3>
                <p class="firstConvoMessDate">@message.MessageSentDate</p>
                <p class="firstConvoMess">@message.MessageText</p>
            </div>
        }
    </div>
</div>