@model FriendBook.ViewModels.ProfileFriendsViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">
    <div class="row profileHead">
        @{Html.RenderPartial("ProfileHeadPartial");}
    </div>

    <div class="row friendDiv">
        <i class="fa fa-users friendIcon" aria-hidden="true"></i>
        <h3 class="friendHead">Friends (@Model.Friends.Count)</h3>
        <div class="col-md-12 friendArea">
            @foreach (var f in Model.Friends)
            {
                <div class="actualFriend">
                    <div class="friendImg">
                        <img class="friendHeadImg" src="@f.ProfileImg" />
                    </div>

                    <div class="friendName">
                        <a asp-action="Index" asp-controller="Profile" asp-route-id="@f.UserId" class="aFriendName"><h3>@Html.DisplayFor(modelItem => f.FirstName) @Html.DisplayFor(modelItem => f.LastName)</h3></a>
                    </div>

                    <div class="friendFriends">
                        <h4 class="friendFriendsNumber">(futurefriendcount)</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row conversationWrapper">

</div>