@model FriendBook.ViewModels.UserProfileViewModel

<div class="colorContainer">
    <h2>My Profile</h2>

    <div class="row profileHead">
        @if (Model.UserProfile.ProfileImg == null)
        {
            <img class="profileHeadImg" src="~/images/egg.png" />
        }
        else
        {
            <img class="profileHeadImg" src="@Model.UserProfile.ProfileImg" />
        }
        <h3 class="profileHeadName">@Model.UserProfile.FirstName @Model.UserProfile.LastName</h3>
        <span class="showPosts">Posts</span>
        <span class="showFriends">Friends</span>
        @if(Model.AreFriends == "NoRelationship" || Model.AreFriends == "no")
        {
            <a class="addFriend" asp-action="AddFriend" asp-controller="Profile" asp-route-id="@Model.UserProfile.UserId"><span class="profileAddFriend">Add Friend!</span></a>
        }
        @if(Model.AreFriends == "Pending")
        {
            <p class="pending">Pending</p>
        }
        @if(Model.AreFriends == "yes")
        {
            <p class="friends">Friends</p>
        }
    </div>

    <div class="row posts">
        <h3>Posts (@Model.Posts.Count)</h3>
        <div class="col-md-12">
            @foreach (var s in Model.Posts)
            {
                <div class="post">
                    <p>
                        <span>@Html.DisplayFor(modelItem => s.User.FirstName) @Html.DisplayFor(modelItem => s.User.LastName): </span>
                        <span>@Html.DisplayFor(modelItem => s.Text)</span>
                    </p>
                    <div>
                        <a asp-action="AddProfileLike" asp-controller="Post" asp-route-id="@s.PostId"><span>Likes: @Html.DisplayFor(modelItem => s.Likes)</span></a>
                        <a asp-action="AddProfileDislike" asp-controller="Post" asp-route-id="@s.PostId"><span>Dislikes: @Html.DisplayFor(modelItem => s.Dislikes)</span></a>
                        @if (s.UserId == Model.CurrentUser.UserId)
                        {
                            <a asp-action="DeletePost" asp-route-id="@s.PostId"><span>Delete</span></a>
                            <a><span id="@s.PostId" class="EditPost">Edit</span></a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row friends">
        <h3>Friends (@Model.Friends.Count)</h3>
        <div class="col-md-12">
            @foreach (var f in Model.Friends)
            {
                @if (f.ProfileImg == null)
                {
                    <img class="profileHeadImg" src="~/images/egg.png" />
                }
                else
                {
                    <img class="profileHeadImg" src="@f.ProfileImg" />
                }
                <a asp-action="Profile" asp-route-id="@f.UserId"><p>@Html.DisplayFor(modelItem => f.FirstName) @Html.DisplayFor(modelItem => f.LastName)</p></a>
            }
        </div>
    </div>
</div>
