@model FriendBook.ViewModels.UserProfileViewModel

<div class="colorContainer">
    <div class="row profileHead">

        <form class="changeProfileImg" asp-controller="Profile" asp-action="UploadImg" enctype="multipart/form-data">
            <label for="profileImgUpload">
                <div class="imgContainer">
                    <img class="profileHeadImg" src="@Model.UserProfile.ProfileImg" />
                </div>
            </label>
            <input type="file" name="file" id="profileImgUpload" class="profileImgUpload" />
        </form>

        <h1 class="profileHeadName">@Model.UserProfile.FirstName @Model.UserProfile.LastName</h1>
    </div>

    <div class="row profileNav">
            @if (Model.UserProfile.UserId == Model.CurrentUser.UserId)
            {
                <div class="navTab">
                    <i class="fa fa-user-circle profileNavIcon"></i>
                    <span class="pending profileNavItem">Me</span>
                </div>
            }
            @if (Model.AreFriends == "NoRelationship" || Model.AreFriends == "no")
            {
                <a asp-action="AddFriend" asp-controller="Profile" asp-route-id="@Model.UserProfile.UserId">
                    <div class="navTab">
                        <i asp-action="AddFriend" asp-controller="Profile" asp-route-id="@Model.UserProfile.UserId" class="fa fa-user-plus profileNavIcon"></i>
                        <a class="addFriend profileNavItem" asp-action="AddFriend" asp-controller="Profile" asp-route-id="@Model.UserProfile.UserId"><span class="profileAddFriend">Add Friend!</span></a>
                    </div>
                </a>
            }
            @if (Model.AreFriends == "Pending" && Model.UserProfile.UserId != Model.CurrentUser.UserId)
            {
                <div class="navTab">
                    <i class="fa fa-user-o profileNavIcon"></i>
                    <span class="pending profileNavItem">Pending</span>
                </div>
            }
            @if (Model.AreFriends == "yes")
            {
                <div class="navTab">
                    <i class="fa fa-check-square profileNavIcon"></i>
                    <span class="friends profileNavItem">Friends</span>
                </div>
            }

        <div class="navTab showPosts">
            <i class="fa fa-book profileNavIcon"></i>
            <span class="profileNavItem">Posts</span>
        </div>

        <div class="navTab showFriends">
            <i class="fa fa-users profileNavIcon"></i>
            <span class="profileNavItem">Friends</span>
        </div>

        @if (Model.UserProfile.UserId != Model.CurrentUser.UserId)
        {
            <div class="navTab showAbout">
                <i class="fa fa-users profileNavIcon"></i>
                <span class="profileNavItem">About</span>
            </div>
        }

        @if (Model.UserProfile.UserId == Model.CurrentUser.UserId)
        {
            <div class="navTab">
                <a asp-controller="Profile" asp-action="Styling" asp-route-id="@Model.CurrentUser.UserId"><i class="fa fa-hand-peace-o profileNavIcon"></i></a>
                <a asp-controller="Profile" asp-action="Styling" asp-route-id="@Model.CurrentUser.UserId"><span class="updateStyling profileNavItem">Styling</span></a>
            </div>
        }
    </div>

    <div class="row posts">
        <i class="fa fa-book postIcon"></i>
        <h3 class="postHead">Posts (@Model.Posts.Count)</h3>
        <div class="col-md-12">
            @foreach (var s in Model.Posts)
            {
                <div class="post" id="@s.PostId">

                    <div class="postProfileImg">
                        <img src="@s.User.ProfileImg" />
                    </div>

                    <div class="postUser">
                        <a asp-action="Profile" asp-controller="Profile" asp-route-id="@s.UserId"><span>@Html.DisplayFor(modelItem => s.User.FirstName) @Html.DisplayFor(modelItem => s.User.LastName)</span></a>
                    </div>

                    <div class="datePosted">
                        <span>@s.TimePosted</span>
                    </div>

                    <div class="postTextDiv">
                        <span class="postText">@Html.DisplayFor(modelItem => s.Text)</span>
                    </div><hr />

                    @if (s.UserId == Model.CurrentUser.UserId)
                    {
                        <div class="deleteEditDiv">
                            <a class="deletePost" asp-action="DeletePost" asp-controller="Post" asp-route-id="@s.PostId"><span>Delete</span></a>
                            <a><span id="@s.PostId" class="EditPost">Edit</span></a>
                        </div>
                    }

                    <div class="LikeDislikeCommentDiv">
                        <a asp-action="AddProfileLike" asp-controller="Post" asp-route-id="@s.PostId" class="addSpaceRight like"><i class="fa fa-thumbs-up statusIcon"></i>(@Html.DisplayFor(modelItem => s.Likes))</a>
                        <a asp-action="AddProfileDislike" asp-controller="Post" asp-route-id="@s.PostId" class="addSpaceRight dislike"><i class="fa fa-thumbs-down statusIcon"></i>(@Html.DisplayFor(modelItem => s.Dislikes))</a>
                        <span class="comments addSpaceRight"><i class="fa fa-comments statusIcon CSI"></i>(@s.Comments.Count)</span>
                    </div><hr />

                    <div class="CommentArea hidden">
                        @if (s.Comments != null)
                        {
                            @foreach (var c in s.Comments)
                            {
                                <div class="comment" id="@c.CommentId">
                                    <img src="@c.User.ProfileImg" />
                                    <a asp-action="Profile" asp-controller="Profile" asp-route-id="@c.UserId"><span>@c.User.FirstName @c.User.LastName</span></a>
                                    <p>@c.Text</p>
                                    @if (c.UserId == Model.CurrentUser.UserId)
                                    {
                                        <div class="EditOrDeleteComment">
                                            <a class="DeleteComment">Delete</a>
                                            <a class="EditComment">Edit</a>
                                        </div>
                                    }
                                </div><hr />
                            }
                        }
                    </div>

                    <textarea class="AddNewComment" placeholder="Add Comment..."></textarea>
                    <input type="button" class="btn-success submitComment" value="Comment" />

                </div>
            }
        </div>
    </div>

    <div class="row friendDiv">
        <i class="fa fa-users friendIcon" aria-hidden="true"></i>
        <h3 class="friendHead">Friends (@Model.Friends.Count)</h3>
        <div class="col-md-12 friendArea">
            @foreach (var f in Model.Friends)
            {
                <div class="actualFriend">
                    <div class="friendImg">
                        <img class="friendHeadImg" src="@f.ProfileImg" />
                    </div>

                    <div class="friendName">
                        <a asp-action="Profile" asp-route-id="@f.UserId" class="aFriendName"><h3>@Html.DisplayFor(modelItem => f.FirstName) @Html.DisplayFor(modelItem => f.LastName)</h3></a>
                    </div>

                    <div class="friendFriends">
                        <h4 class="friendFriendsNumber">(futurefriendcount)</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
