@model FriendBook.ViewModels.ProfileStylingViewModel

<div class="colorContainer">
    <div class="row profileHead">
        @{Html.RenderPartial("ProfileHeadPartial");}
    </div>
    <i class="fa fa-hand-peace-o postIcon"></i>
    <h2 class="stylingHead">Styling</h2><br />

    <form asp-route-id="@Model.CurrentUser.UserId" asp-action="UpdateUserStyling">
        <div class="form-horizontal">
            <div class="form-group">
                <label asp-for="@Model.UserStyle.WallBackgroundColor" class="col-lg-4 control-label">Wall Background Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.WallBackgroundColor" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserStyle.PostBackgroundColor" class="col-md-4 control-label">Post Background Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.PostBackgroundColor" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserStyle.PostHeaderColor" class="col-md-4 control-label">Post Header Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.PostHeaderColor" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserStyle.BackgroundColor" class="col-md-4 control-label">Background Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.BackgroundColor" class="form-control" />
                </div>
            </div>


            <div class="form-group">
                <label asp-for="@Model.UserStyle.FontColor" class="col-md-4 control-label">Font Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.FontColor" class="form-control" />
                </div>
            </div>


                @*<div class="form-group">
                    <label asp-for="@Model.UserStyle.FontFamily">Wall Background Color: </label>
                    <div class="col-md-12">
                        <input type="color" asp-for="@Model.UserStyle.FontFamily" class="form-control" />
                    </div>
                </div>*@

            <div class="form-group">
                <label asp-for="@Model.UserStyle.NavColor" class="col-md-4 control-label">Nav Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.NavColor" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserStyle.DetailColor" class="col-md-4 control-label">Detail Color: </label>
                <div class="col-md-8">
                    <input type="color" asp-for="@Model.UserStyle.DetailColor" class="form-control" />
                </div>
            </div>

            <br /><br />
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Submit Changes!" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

</div>