@model FriendBook.ViewModels.YardSaleHomeViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">

    <div class="YardSaleWelcome">
        <h2>Buy, Sell, or Trade</h2>

        <a asp-action="NewItem" asp-controller="YardSale">
            <div class="SellNewItemLinkDiv">
                <span class="glyphicon glyphicon-plus-sign plusSign"></span>
            </div>
        </a>
    </div>

    @if (Model.YardSaleItems.Count == 0)
    {
        <div class="NoSaleItems">
            <h3>You currently have no friends that have items for sale. Click <a asp-action="NewItem" asp-controller="YardSale" class="NewItemLink">here</a> to put an item up for sale!</h3>
        </div>
    }
    else
    {
        @foreach (var i in Model.YardSaleItems)
        {
            <div class="YardSaleItem">

                <div class="ItemPosterContainer">
                    <img src="@i.PostingUser.ProfileImg" class="ItemPosterProfileImg"/>
                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@i.PostingUser.UserId"><h3 class="ItemPosterName">@i.PostingUser.FirstName @i.PostingUser.LastName</h3></a>
                    <span class="ItemDatePosted">@i.DatePosted</span>
                </div>

                <div class="SaleItemHead">
                    <h3>@i.ItemName</h3>
                    <p>$@i.ItemPrice</p>
                </div>

                <div class="SaleItemMain">

                    <p><strong>Description: </strong>@i.ItemDescription</p>
                    <p><strong>Category: </strong>@i.Category</p><hr />

                    <div class="YardSaleItemImages">
                        <img src="/images/@i.ItemImage1" class="YSImage" />
                        @if(i.ItemImage2 != null) { <img src="/images/@i.ItemImage2" class="YSImage" /> }
                        @if(i.ItemImage3 != null) { <img src="/images/@i.ItemImage3" class="YSImage" /> }
                        @if(i.ItemImage4 != null) { <img src="/images/@i.ItemImage4" class="YSImage" /> }
                    </div>
                    <hr />
                </div>

                <div class="LikeDislikeCommentDiv">
                    @if (i.ItemComments == null)
                    {<strong class="ViewItemComments">View comments (0)</strong>}
                    else
                    {<strong class="ViewItemComments">View comments (@i.ItemComments.Count)</strong>}
                    <hr />
                </div>

                <div class="ItemComments hidden">
                    <div class="ActualItemComments">
                        <div class="comment" id="@i.YardSaleItemId">
                            <img src="@i.PostingUser.ProfileImg" />
                            <a asp-action="Index" asp-controller="Profile" asp-route-id="@i.PostingUser.UserId"><span>@i.PostingUser.FirstName @i.PostingUser.LastName</span></a>
                            <p class="YardSaleItemComment">this is a super duper test!</p>
                            @if (i.PostingUser.UserId == Model.CurrentUser.UserId)
                            {
                                <a class="DeleteComment yardSaleDeleteComment">Delete</a>
                            }
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="AddAndSeeItemComments">
                    <textarea class="AddNewItemComment" placeholder="Add Comment.."></textarea>
                    <input type="button" class="SubmitNewItemComment btn-success" value="Comment" />
                </div>

            </div>
        }
    }
</div>
