<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FriendBook</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <style>
        .comment{
            background: @Model.UserStyle.PostHeaderColor;
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .comment span, .comment img{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .NewUserNotification{
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .UserNotificationDiv, .messageNotificationArea{
            border-left: 2px solid @Model.UserStyle.DetailColor;;
            border-right: 2px solid @Model.UserStyle.DetailColor;;
            border-bottom: 2px solid @Model.UserStyle.DetailColor;;
        }
        .TaggedFriend{
            background-color: @Model.UserStyle.PostBackgroundColor;
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .friendBeingTagged{
            background-color: @Model.UserStyle.PostBackgroundColor;
            border-left: 2px solid @Model.UserStyle.DetailColor;
            border-right: 2px solid @Model.UserStyle.DetailColor;
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .toast{
            background-color: @Model.UserStyle.BackgroundColor;
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .navbar-brand{
            color: black!important;
        }
        .submitStatus, .clearStatus, .tagFriends, .tagFriendsDiv input {
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        body{
            background-color: @Model.UserStyle.WallBackgroundColor;
            color: @Model.UserStyle.FontColor;
        }
        .navGlyph:hover, .messageNotifications:hover{
            color: @Model.UserStyle.WallBackgroundColor!important;
            cursor: pointer;
        }
        .postImage, .postProfileImg img{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .postUser a{
            background-color: @Model.UserStyle.BackgroundColor;
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .notificationArea, .messageNotificationArea, .UserNotificationDiv{
            background-color: @Model.UserStyle.NavColor;            
        }
        .colorContainer{
            background-color: @Model.UserStyle.BackgroundColor;
            border-left: 2px solid @Model.UserStyle.DetailColor;
            border-right: 2px solid @Model.UserStyle.DetailColor;
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .navbar, .nav li{
            background-color: @Model.CurrentUserStyle.NavColor;
        }
        .editInput{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .navbar{
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .userSearch{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .userInSearch{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .deletePost, .EditPost, .DeleteComment, .EditComment{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .AddNewComment{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .submitComment{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .startPosts{
            border-top: 2px solid @Model.UserStyle.DetailColor;
        }
        .updatePost, .updateComment{
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        .comments:hover{
            color: @Model.UserStyle.BackgroundColor;
        }
        .newStatus{
            color: black !important;
            border: 2px solid @Model.UserStyle.DetailColor;
        }
        hr{
            background-color: 1px solid @Model.UserStyle.DetailColor;
        }
        .post{
            background-color: @Model.UserStyle.PostBackgroundColor;
            border: 2px solid @Model.UserStyle.DetailColor;
            margin-top: 1%;
            padding: 1%;
        }
        .comment span{
            background-color: @Model.UserStyle.BackgroundColor;
        }
        .navTab{
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
            border-top: 2px solid @Model.UserStyle.DetailColor;
        }
        .navTab:hover{
            background-color: @Model.UserStyle.NavColor;
        }

        .navTab:hover .profileNavItem{
            color: @Model.UserStyle.WallBackgroundColor;
        }

        .navTab:hover .profileNavIcon{
            color: @Model.UserStyle.WallBackgroundColor;
        }
        .actualFriend{
            box-shadow: 4px 4px 4px @Model.UserStyle.DetailColor;
            border: 2px solid @Model.UserStyle.DetailColor;
            background-color: @Model.UserStyle.NavColor;
        }
        .addPhotoToStatusDiv{
            background-color: @Model.UserStyle.NavColor;  
            border-top: 2px solid @Model.UserStyle.DetailColor;
            border-left: 2px solid @Model.UserStyle.DetailColor;
            border-right: 2px solid @Model.UserStyle.DetailColor;     
        }
        .postHeadDiv{
            background-color: @Model.UserStyle.PostHeaderColor;
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .profileHeadImg, .notYourProfileHeadImg{
            box-shadow: 8px 8px 8px @Model.UserStyle.DetailColor;
        }
        .profileBannerImg, .notYourProfileBannerImg{
            border-left: 3px solid @Model.UserStyle.DetailColor;
            border-right: 3px solid @Model.UserStyle.DetailColor;
            border-bottom: 3px solid @Model.UserStyle.DetailColor;
        }
        .createNewAlbum{
            border: 2px solid @Model.UserStyle.DetailColor;
            background-color: @Model.UserStyle.NavColor;
        }
        .ImageArea{
            border: 2px solid @Model.UserStyle.DetailColor;
            background-color: @Model.UserStyle.NavColor;
        }
        .albumImg{
            border-top: 2px solid @Model.UserStyle.DetailColor;
        }
        .AlbumImageDiv{
            border: 2px solid @Model.UserStyle.DetailColor;
            background: @Model.UserStyle.PostHeaderColor;
        }
        .albumDetailDiv{
            border: 2px solid @Model.UserStyle.DetailColor;
            background-color: @Model.UserStyle.PostHeaderColor
        }
        .messagingContainer{
            border-left: 2px solid @Model.CurrentUserStyle.DetailColor;
            background-color: @Model.CurrentUserStyle.BackgroundColor;
        }
        .MessageAreaUser{
            background: @Model.CurrentUserStyle.PostHeaderColor;
            border: 2px solid @Model.CurrentUserStyle.DetailColor;
        }
        .newMessage{
            border-bottom: 2px solid @Model.CurrentUserStyle.DetailColor;
            border-top: 2px solid @Model.CurrentUserStyle.DetailColor;
            border-right: 2px solid @Model.CurrentUserStyle.DetailColor;
        }
        .convoName, .minifyOrExpand{
            background-color: @Model.CurrentUserStyle.BackgroundColor;
        }
        .conversation{
            background-color: @Model.CurrentUserStyle.NavColor!important;
        }
        .submitNewMessage{
            color: @Model.CurrentUserStyle.BackgroundColor;
            background-color: black;
        }
        .MessageAreaUser:hover{
            box-shadow: 2px 2px 2px @Model.CurrentUserStyle.DetailColor;
        }
        .brandImg, .brandName{
            color: @Model.CurrentUserStyle.DetailColor;
        }
    </style>
</head>

<body id="page-top" class="index">

    @if (Model.CurrentUser != null)
    {
        <div class="userSearchArea">
            <input type="text" class="userSearch" placeholder="User Search..." />
            <div class="searchResults"></div>
        </div>
    }

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <span><a class="navbar-brand" asp-action="Index" asp-controller="Home">FriendBook</a></span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">  
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    @if (Model.CurrentUser != null)
                    {
                        Html.RenderPartial("UserNavInfo");
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body">
        <div class="bodyWrapper">
            @if (Model.CurrentUser != null)
            {
                Html.RenderPartial("FriendRequests");
                Html.RenderPartial("MessageNotifications");
                Html.RenderPartial("UserNotifications");

                <div class="row conversationWrapper"></div>
            }

            <div class="toast hidden"></div>

            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Factory.js" asp-append-version="true"></script>
        <script src="~/js/Tagging.js" asp-append-version="true"></script>
        <script src="~/js/Login.js" asp-append-version="true"></script>
        <script src="~/js/Comment.js" asp-append-version="true"></script>
        <script src="~/js/Post.js" asp-append-version="true"></script>
        <script src="~/js/Album.js" asp-append-version="true"></script>
        <script src="~/js/Conversation.js" asp-append-version="true"></script>
        <script src="~/js/Notification.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/Factory.js" asp-append-version="true"></script>
        <script src="~/js/Tagging.js" asp-append-version="true"></script>
        <script src="~/js/Login.js" asp-append-version="true"></script>
        <script src="~/js/Comment.js" asp-append-version="true"></script>
        <script src="~/js/Post.js" asp-append-version="true"></script>
        <script src="~/js/Album.js" asp-append-version="true"></script>
        <script src="~/js/Conversation.js" asp-append-version="true"></script>
        <script src="~/js/Notification.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
