<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FriendBook</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <style>
        .navbar-brand{
            color: black!important;
        }
        body{
            background-color: lightblue;
            color: @Model.UserStyle.FontColor;
        }
        .colorContainer{
            background-color: @Model.UserStyle.BackgroundColor;
            padding: 2%;
            border-left: 2px solid @Model.UserStyle.DetailColor;
            border-right: 2px solid @Model.UserStyle.DetailColor;
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .navbar, .nav li{
            background-color: @Model.CurrentUserStyle.NavColor;
        }
        .navbar{
            border-bottom: 2px solid @Model.UserStyle.DetailColor;
        }
        .NewStatus{
            color: black !important;
        }
        .submitStatus{
            background-color: @Model.UserStyle.DetailColor;
        }
        hr{
            background-color: 1px solid @Model.UserStyle.DetailColor;
        }
        .post{
            background-color: lightgray;
            border: 2px solid @Model.UserStyle.DetailColor;
            margin-top: 1%;
            padding: 1%;
        }
    </style>
</head>

<body id="page-top" class="index">

    <div class="userSearchArea">
        <input type="text" class="userSearch" placeholder="User Search..." />
        <div class="searchResults"></div>
    </div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">FriendBook</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a asp-action="Profile" asp-controller="Profile" asp-route-id="@Model.CurrentUser.UserId">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</a>
                    </li>
                    <li class="page-scroll">
                        @if (@Model.CurrentUser.ProfileImg == null)
                        {
                            <span><img src="~/images/egg.png" class="profileImg" /></span>
                        }
                        else
                        {
                            <span><img src="@Model.CurrentUser.ProfileImg" class="profileImg"></span>
                        }
                    </li>
                    <li class="page-scroll">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body">
        <div class="bodyWrapper">
            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
