
<div class="notificationArea hidden">
    @if (Model.FriendRequests.Count == 0)
    {
        <div class="NoFR">
            <p>No new friend requests!</p>
        </div>
    }
    else
    {
        @foreach (var fr in Model.FriendRequests)
        {
            <div class="FR">
               
                <img class="notificationProfileImg" src="@fr.SenderUser.ProfileImg" />
                
                @if (fr.Status == 0)
                {
                    <div class="receivedFR">
                        <p>
                            <a class="FRUserName" asp-action="Index" asp-controller="Profile" asp-route-id="@fr.SenderUser.UserId">@fr.SenderUser.FirstName @fr.SenderUser.LastName</a>
                            sent you a friend request!
                        </p>
                    </div>
                }
                <div class="frButtonDiv">
                    <input type="button" class="btn-success frButton acceptFR" id="@fr.RelationshipId" value="Accept" />
                    <input type="button" class="btn-danger frButton declineFR" id="@fr.RelationshipId" value="Decline" />
                </div>
            </div>
        }
    }
</div>