<li class="page-scroll pInfo">
    <a class ="navNamePic" asp-action="Profile" asp-controller="Profile" asp-route-id="@Model.CurrentUser.UserId">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</a>

@*<li class="page-scroll">*@
    @if (@Model.CurrentUser.ProfileImg == null)
    {
        <span><img src="~/images/egg.png" class="profileImg" /></span>
    }
    else
    {
        <span><img src="@Model.CurrentUser.ProfileImg" class="profileImg"></span>
    }
</li>
<li class="page-scroll">
    <a asp-action="Index" asp-controller="Home">Home</a>
</li>
<li class="page-scroll">
    <a href="#" class="Notifications">Notifications (@Model.FriendRequests.Count)</a>
</li>