<div class="UserNotificationDiv hidden">
    @if (Model.UserNotifications.Count == 0)
    {
        <div class="NoNewNotifications" id="0" data="0">
            <p class="NoNewNotificationsText">No new notifications!</p>
        </div>
    }
    @foreach(var un in Model.UserNotifications)
    {
        @if (un.NotificationType == "Tag" || un.NotificationType == "FR")
        {
            <div class="NewUserNotification" id="@un.PostId" data="@un.SendingUser.UserId @un.NotificationId @un.NotificationType">
                <img src="@un.SendingUser.ProfileImg" class="UserNotificationsImage" />
                <p class="UserNotificationsText">@un.NotificationText</p>
                <p class="NotificationDate">@un.NotificatonDate</p>
            </div>
        }
        else
        {
            <div class="NewUserNotification" id="@un.PostId" data="@un.RecievingUser.UserId @un.NotificationId @un.NotificationType">
                <img src="@un.SendingUser.ProfileImg" class="UserNotificationsImage" />
                <p class="UserNotificationsText">@un.NotificationText</p>
                <p class="NotificationDate">@un.NotificatonDate</p>
            </div>
        }
    }
</div>